:root {
    --main-color: #cc212a;
    --second-color: white;
    --main-font-weight: 800;
    font-family: "Montserrat", sans-serif;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  .main {
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .main h1,
  .main span {
    font-weight: var(--main-font-weight);
    font-size: 4rem;
    color: var(--main-color);
  }
  .main h1 {
    text-transform: uppercase;
  }
  
  .footer {
    /* para hacerlo fijo hace falta indicarle el bottom y el ancho */
    position: fixed;
    bottom: 0;
    width: 100vw;
  /* corregido de la muestra */
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
  }
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: var(--main-color);
  }
  .logo-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--second-color);
  }
  .copyright {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
    .footer {
      display: block;
      margin: 0 0 3rem;
    } 
    .logo-copy {
      margin: 2rem 2rem 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .logo {
      transform: none;
    }
  }
  